@model Salesapp.Models.BattSales
@{
    ViewBag.Title = "BattSaleIndex";
    Layout = null;



}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container" style="width:40%; margin-top:2%">
    @using (Html.BeginForm("BattSaleSave", "BattSale", FormMethod.Post))
    {
      
        <br/>
        @Html.TextBoxFor(model => model.Batt_date_sold, new { @type = "date", @class = "form-control", @placeholder = "Select Today's Date"})
        <br />
        @Html.DropDownListFor(model => model.Supplier_id, ViewBag.SupplierName as SelectList, "--Select Maker--", new { @class = "form-control" })
        <br />
        @Html.DropDownListFor(model => model.Size_id, ViewBag.SizeName as SelectList, "--Select Battery Size (ahms)--", new { @class = "form-control" })
        <br />
        @Html.DropDownListFor(model => model.Terminal_id, ViewBag.BattterminalNamne as SelectList, "--Select Terminal--", new { @class = "form-control" })
        <br />
        @Html.DropDownListFor(model => model.Height_id, ViewBag.HeightName as SelectList, "--Select Height--", new { @class = "form-control" })
        <br />
        @Html.DropDownListFor(model => model.Emp_id, ViewBag.EmpName as SelectList, "--Select Worker's Name--", new { @class = "form-control" })
        <br />
        @Html.DropDownListFor(model => model.Cust_id, ViewBag.CustName as SelectList, "--Select Customer Name--", new { @class = "form-control" })
        <br />

        @Html.TextBoxFor(model => model.Batt_quantity_purchased, new { @class = "form-control", @placeholder = "Quantity", @type = "number" })
        <br />
        @Html.TextBoxFor(model => model.Batt_unit_price_purchased, new { @class = "form-control", @placeholder = "Price Paid for Each", @type = "number" })
        <br />
        <input type="Submit" value=" Submit" />  <input type="reset" value=" Reset" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    }

</div>
